.navbar {
  margin-bottom: 0;
}
.navbar > a {
  background-color: #eee;
}
a:hover {
  text-decoration: none;
}
span {
  font-size:10px;
}
.thumbnail {
  border-style: none;
  width: 380px;
  height: 330px;
  border-bottom: 0;
  position:relative;
  color:inherit;
}
.thumbnail h3 {
  font-size: 30px;
  padding-left: 0;
}
#line,#line2,#line3 {
  width: 370px;
  height: 150px;
}
img {
  width: 360px;
  height: 150px;
  margin:0px;
}
.caption .btn-primary {
    color: #fff;
    background-color: #1abc9c;
    border-color: #1abc9c;
    background-image: none;
}
button .btn-default, a.btn.btn-primary.btn-lg {
  color: #fff;
  background-color: #1abc9c;
  border-color: #1abc9c;
  background-image: none;
}
button.btn.btn-default {
  font-size:18px;
}
.footer {
  text-align: left;
  margin-bottom: 0px;
  margin-top: 0px;
  margin-left: 75px;
}
.jumbotron h1, .jumbotron h1, .jumbotron p {
  color: #303030;
  text-decoration: none;
}
hr {
  width:95%;
  text-align: center;
  margin-right: 100px;
  top: 0;
}
body {
  margin:0;
  padding:0;
  border:0;
}
p, h3 {
 color:#333;
}
